N

In [5]:
from traceback import print_tb

mensaje =  "Hola, mundo"
numero = 42
PI = 3.14159
x = 2.2 # Esto se suma variable flotante
y = 2
resultado = x * y
print(f"El resultado es  {resultado}")

El resultado es  4.4

In [7]:
x = 3.3
print(type(x))

x = True
print(type(x))

<class 'float'>
<class 'bool'>

In [12]:
import pandas as pd
from IPython.display import display

# Crear un DataFrame de ejemplo
data = {
    "Nombre" : ["Alice", "bob", "Charlie"],
    "Edad": [25, 39, 28],
    "Ciudad" : ["Nueva York", "Londres", "Paris"],
}

df = pd.DataFrame(data)

print("------------- Usando Print() -------------")
print(df)

print("\n--------- Usando display() -------------")
display(df)

    Nombre  Edad      Ciudad
0    Alice    25  Nueva York
1      bob    39     Londres
2  Charlie    28       Paris

In [9]:
MENSAJE = "ELLA DIJO: 'HOLA'"
MENSAJE2 = 'EL RESPOND: "HASTA LUEGO"'

MENSAJE, MENSAJE2

("eLLA DIJO: 'HOLA'", 'eL RESPONDIO: "HASTA LUEGO"')

In [15]:
print("Linea 1 \nLinea 2 \nLinea 3 \nLinea 4 \t- ¡Con tabulador")

Linea 1
Linea 2
Linea 3
Linea 4 	- ¡Con tabulador

In [19]:
x = 5; y = 2
print(f"Suma {x + y }, Division Entera {x // y}, Potencia {x ** y}")

Suma 7, Division Entera 2, Potencia 25

In [20]:
x = 5; y = 2
print((x > y) and ( y != 0)) #Salida: True

True

In [23]:
# Operadores de pertenencia
print("Py" in "Python") # Salida: True

print( 10 in [1, 2, 3, 10]) # Salida: True

True
True

In [27]:
print("Java" not in "Python")

print(5 not in [1, 2, 3, 10])

True
True

In [29]:
mi_lista = [1, "Hola", 3.14, True]
print(f"{mi_lista[0]} primer elemento\n Ultimo elemento: {mi_lista[-1]}")

1 primer elemento
 Ultimo elemento: True

In [32]:
lista_anidada = [1, [2, 3], 4]

print(lista_anidada[1][0])

2

In [35]:
print(f"{lista_anidada}\n{lista_anidada[0]}\n{lista_anidada[1]}\n{lista_anidada[2]}\n{lista_anidada[1][0]}")

[1, [2, 3], 4]
1
[2, 3]
4
2

In [37]:
print(len(lista_anidada))

3

In [45]:
numeros = [0, 1, 2, 3, 4, 5]

print(numeros[1:4])
print(numeros[::2])
print(numeros[::-1])
print(numeros[-3:-1])
print(numeros[:-1])

[1, 2, 3]
[0, 2, 4]
[5, 4, 3, 2, 1, 0]
[3, 4]
[0, 1, 2, 3, 4]

In [48]:
mi_lista = [10, 1, 5]
mi_lista.append(20)
mi_lista.sort()
elemento = mi_lista.pop()
elemento, mi_lista

(20, [1, 5, 10])

In [50]:
list_a = [1, 2]
list_b = list_a

list_b.append(3)
print(list_a)

[1, 2, 3]

In [63]:
list_originial = [1, 2, [3, 4]]
list_copia = list_originial.copy()
list_copia.append(5)
list_copia[2].append(65)

list_originial[1] = 9
print(list_copia)
print(list_originial)

[1, 2, [3, 4, 65], 5]
[1, 9, [3, 4, 65]]

In [60]:
import copy
lista_original = [1, [2, 3]]
copia_p = copy.deepcopy(lista_original)
copia_p[0] = 99 # Modifica el 1er elemento
copia_p[1].append(4) # Modifica la lista anidada
print(lista_original) # Salida: [1, [2, 3]] <-- ¡No cambió!
print(copia_p) # Salida: [99, [2, 3, 4]]

[1, [2, 3]]
[99, [2, 3, 4]]

In [64]:
mi_tupla = (1, "hola", 3.14)
print(mi_tupla[0])

1